<!-- 
Filename: footer.html
Project: Teacher's Data
Authors: Arthur Makumbi
Description: footer for the site
 -->
<div class="container">
    <div class="container-fluid">
        <footer class="page-footer" id="footer">
            <div class="footer-copyright">
                <div class="container white-text">
                    <a href='https://www.bigelow.org' target="_blank">© 2018 Bigelow Laboratory for Ocean Sciences</a>&nbsp;|&nbsp;
                    <a href='/' target="_self">Home</a>
                </div>
            </div>
        </footer>
    </div>
</div>