<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arthur Y. Makumbi (Bumblebee)">
    <meta charset="utf-8">
    <meta name="description" content="teacher data viewing and downloading">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <!-- OpenSans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans " rel="stylesheet ">
        <!-- Bootstrap -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css " rel="stylesheet ">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!--  jQuery -->
    <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- my own css -->
    {% css main %}
    <!-- javascript -->
    {% js main %}
</head>