$content-width: 800px;
$main: rgb(63, 162, 219);
$font-style: 'Open Sans',
sans-serif;
$font-color: #ffffff;
$link-color: #ffffff;
$link-hover-color: $main;
$heading-font: 'Muli',
sans-serif;
$heading-font-color: #ffffff;
$light: rgb(255, 255, 255);
$header: rgb(255, 255, 255);
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}